@import '../../styles/styles.scss';

.bio{
    box-sizing: border-box;
    text-align: justify;
    border-radius: 5px;
    padding: 0% 5%;
    @media(min-width:1000px){
        width: calc(100% - 400px);
        padding: 0% 8%;
    }
    &__info{
        font-weight: 700;
    }
}