@import  '../../styles/styles.scss';

.button{
    background-color: $main-light-color;
    color: $main-background-color !important;
    border-radius: 10px;
    border: 1px solid $main-background-color;
    padding: 10px;
    height: auto;
    font-size: 0.8em;
    @media(min-width:1000px){
        font-size: 1.2em;
    }
    & a{
        text-decoration: none !important;
        color: $main-background-color !important;
        height: 100%;
        width: 100%;
    }
}