@import  '../../styles/styles.scss';

.button{
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid $main-background-color;
    padding: 10px;
    height: auto;
    font-size: 0.8em;
    margin: 5px 0px;
    background-color: $text-color-opacity;
    @media(min-width:1000px){
        font-size: 1.2em;
    }
    & a{
        font-weight: 700;
        text-decoration: none !important;
        color: $main-background-color !important;
        height: 100%;
        width: 100%;
    }
}