@import './styles.scss';

.webLink{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 50px;
}

body{
    background-color: $main-background-color;
}

.asideGallery{
    &__title{
        color: $main-text-color;
        font-size: 2em;
        text-align: center;
        margin: 10% 0%;
        @media(min-width:600px){
        margin: 5% 0%;
        }
        @media(min-width:600px){
        margin: 3% 0%;
        }
    }
    &__text{
        color: $main-text-color;
        text-align: center;
    }
}

.profil__perso{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media(min-width:1000px){
        flex-direction: row;
    }
}
