@import './styles.scss';
main{
    width: 100%;
    margin: auto;
    max-width: 1400px;
}
h3{
    text-align: center;
    padding: 4% 0%;
    margin: 0%;
}

.homeButtons{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 10vh;
}

.profil{
    &__perso{
        margin-top: 3%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $main-background-color;
        @media(min-width:1000px){
            flex-direction: row;
        }
    }
    &__perso--text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        @media(min-width:1000px){
            width: calc(100% - 400px);
        }
    }
    &__pro{
        margin: 10% 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media(min-width:1000px){
            flex-direction: row;
        }
    }
    &__pro--text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__pro--background{
        margin: 10% 0%;
        box-sizing: border-box;
        width: 100%;
        padding: 3% 10%;
        background-color: $main-background-color;
    }
}
.galleryBloc{
    margin: 10% 0%;
    display: flex;
    flex-direction: column-reverse;
    @media(min-width:1000px){
        flex-direction: row;
    }
    &__content{
        box-sizing: border-box;
        background-color: $main-background-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
        width: 100%;
        margin-bottom: 10%;
    }
}
.contact{
    margin: 10% 0%;
    padding: 10%;
    background-color: $main-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media(min-width:600px){
        font-size: 1.1em;
    }
    @media(min-width:1000px){
        font-size: 1.2em;
    }
    &__text{
        margin: 0% 0% 5% 0%;
    }
}
.end__buttons{
    padding: 10%;
    background-color: $main-background-color;
    display: flex;
    justify-content: space-around;
}
.footerImg{
    width: 100%;
    margin: auto;
    @media(min-width:600px){
        width: 70%;
    }
    @media(min-width:1000px){
        width: 50%;
    }
}