@import './styles.scss';

h3{
    text-align: center;
    margin: 8% 0%;
}
.profil{
    &__perso{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media(min-width:1000px){
            flex-direction: row;
        }
    }
    &__pro{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        @media(min-width:1000px){
            flex-direction: row;
        }
    }
}
.galleryContent{
    display: flex;
    flex-direction: column;
    @media(min-width:1000px){
        flex-direction: row;
    }
}
