@import './styles.scss';

.tictactoe{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        background-image: url('../assets/astres.jpg');
        background-size: cover;
        padding: 5% 0%;
        margin: 0px;
        width: 100%;
        text-align: center;
    }
    &__restart{
        margin: 5% 0%;
    }
    &__link{
        text-decoration: underline;
        @media (min-width: 700px){
            font-size: 0.9em;
        }
    }
}