@import './styles.scss';

.tictactoe{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        background-color: $main-background-color;
        padding: 5% 0%;
        margin: 0px;
        width: 100%;
        text-align: center;
    }
    &__restart{
        margin: 5% 0%;
    }
    &__link{
        text-decoration: underline;
        font-size: 1.2em;
        font-weight: 500;
    }
}