@import '../../styles/styles.scss';

.autotext{
    box-sizing: border-box;
    margin-top: 2%;
    width: 100%;
    height: 40vh;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
    @media(min-width:600px){
        height: 70vh;
    }
    & span{
        margin: auto;
        max-width: 90%;
        font-size: 1.8em;
        color: $main-background-color;
        text-align: center;
        @media(min-width:600px){
            font-size: 2.5em;
        }
    }
}