@import '../../styles/styles.scss';

.header{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0% 5%;
    margin: auto;
    align-items: center;
    background-color: $main-background-color;
    @media(min-width:600px){
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1;

    }
    @media(min-width:1000px){
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
    }
}