@import '../../styles/styles.scss';

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: $main-background-color;
    @media(min-width:600px){
    }
    @media(min-width:1000px){
        box-sizing: border-box;
        padding: 0% 5%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
    }
}