@import '../../styles/styles.scss';

.gallery{
    margin: 10% 0%;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 30px;
    @media (min-width: 600px){
        grid-template-columns: 1fr 1fr;
    }
    &__item{
        border-radius: 10px;
        width: 250px;
        height: 150px;
        @media (min-width: 1000px){
            width: 350px;
            height: 200px;
        }
    }
    &__card{
        width: 100%;
        height: 100%;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: 10px;
    }
}
.backTags li{
    color: $second-color;
    font-weight: 500;
}
.backSubText{
    
    font-size: 0.7em;
    margin: 0px 5px;
    @media (min-width: 600px){
        font-size: 0.9em;
    }
}