@import '../../styles/styles.scss';

.Gallery{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 30px;
    @media (min-width: 600px){
        grid-template-columns: 1fr 1fr;
    }
    &__item{
        border-radius: 10px;
        width: 90%;
        min-width: 250px;
        max-width: 350px;
        height: 200px;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: 10px;
    }
    &__title{
        height: 50px;
        width: 100%;
        position: relative;
        bottom: 70px;
        color: $main-text-color;
        background-color: $background-opacity;
        border-radius: 0px 0px 10px 10px;
    }
    &__text {
        padding: 5%;
    }
}