@import '../../styles/styles.scss';

.footer{
    box-sizing: border-box;
    width: 100%;
    background-color: $background-opacity;
    height: 450px;
    padding: 30px;
    font-size: 1.2em;
    @media (min-width:600px){
        height: 300px;
    }
    @media (min-width:1000px){
        justify-content: center;
    }
    @media (min-width:1400px){
        width: 100%;
    }
    &__wrapper{
        font-size: 0.7em;
        display:flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        @media (min-width:600px){
            flex-direction: row;
            column-gap: 5%;
        }
    }
    &__link{
        display: flex;
        flex-direction: column;
        @media (min-width:600px){
            width: 30%;
        }
        & a{
            margin: 5px 0px;
        }
        & span{
            margin: 5px 0px;
        }
    }
}
.mention{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & p{
        margin: 0px;
    }

}