@import './styles/styles.scss';

body {
  margin: auto;
  width: 100%;
  font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.parallax{
  background-attachment: fixed; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./assets/astres.jpg');
  height: 100%;
}
