@import '../../styles/styles.scss';

.nav{
    display: flex;
    flex-direction: column;
    color: $main-text-color;
    align-items: center;
    @media(min-width:600px){
        flex-direction: row;; 
    }
    &__btn{
        color: $main-text-color;
        background-color: $main-background-color;
        border: none;
        margin: 0px 10px;
        & img{
            height: 30px;
        }
    }
    &__btn--open{
        transition: transform 400ms ease-in;
        transform: rotate(-90deg);
        @media(min-width:600px){
            transform: rotate(180deg); 
        }
        
    }
    &__btn--close{
        transition: transform 400ms ease-in;
        transform: rotate(90deg);
        @media(min-width:600px){
            transform: rotate(0deg); 
        }
    }
    &__bloc{
        box-sizing: border-box;
        display: flex;
        padding: 0px;
        & li{
            padding: 8px;
        }
    }
    &__bloc--open{
        max-height: 200px;
        transition: max-height 900ms ease-in-out;
        transform-origin: top;
        overflow: hidden;
        @media(min-width:600px){
            max-width: 800px;
            transition: max-width 900ms ease-in-out;
            transform-origin: left;
        }
    }
    &__bloc--close{
        transform-origin: top;
        max-height: 0px;
        transition: max-height 900ms ease-in-out;
        overflow: hidden;
        @media(min-width:600px){
            transform-origin: left;
            max-width: 0px;
            transition: max-width 900ms ease-in-out;
        }
    }
}