@import '../../../styles/styles.scss';

.title{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    @media(min-width:600px){
        flex-direction: row;
        margin: 3% 0%;
    }
    @media (min-width:1000px){
        margin: 1% 0%;
    }
    &__work{
        color: $main-light-color;
        text-align: center;
        font-size: 1.5em;
        margin: 5% 0% 0% 0%;
        padding-right: 20px;
        @media (min-width:600px){
            font-size: 2.5em;
            margin: 0%;
        }
        @media (min-width:1000px){
            font-size: 4em;
        }
    }
    &__name{
        font-weight: 400;
        margin: 0% 0% 5% 0%;
        color: $second-color;
        @media (min-width:600px){
            margin: 0%;
        }
    }
}