@import '../../../styles/styles.scss';

.title{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    @media(min-width:600px){
        flex-direction: row;
        margin: 3% 0%;
    }
    @media (min-width:1000px){
        margin: 1% 0%;
    }
    &__work{
        text-align: center;
        margin: 5% 0% 0% 0%;
        padding-right: 20px;
        @media (min-width:600px){ 
            margin: 0%;
        }
    }
    &__links{
        font-weight: 400;
        font-size: 1.5em;
        color: $second-color;
        margin: 10px 0px 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width:600px){
            margin: 0px;
        }
        & *{
            color: $second-color;
           margin: 0px 5px 0px 5px;
           @media (min-width:1000px){
            margin: 0px 10px 0px 10px;
        }
        }
    }
}