@import '../../../styles/styles.scss';

.title{
    cursor: pointer;
    display: block;
    @media(min-width:600px){
        margin: 0%;
    }
    @media (min-width:1000px){
        margin: 1% 0%;
        max-width: 50%;
    }
}